/* Customizando o Header */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    height: 5.7em;
}
.max-wid{
    max-width: 1920px;
    display: flex;
    padding: 0 120px;
    margin: 15px;
    align-items: center;
    justify-content: space-between;

}
.nav-bar{
    background-color: #2e343f;
    width: 100%;
    position: fixed;
}
.lista-menu li a{
    color: #FFE8D1;
    padding: 15px;
    text-transform: capitalize;
    font-size: 30px;
    border: 3px solid #1e1e2a;
    border-radius: 15px;
    font-family: 'Josefin Sans';
    font-weight: 300;
}
.lista-menu li a:hover{
    color: #00e6ea;
    background-color: #262634;
    transition: 0.6s;
    border: 3px solid #FFE8D1;
}
.lista-menu li{
    display: inline-block;
    margin: 15px;
}
.lista-menu li:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
.logo a{
    color:#FFE8D1;
    font-size: 52.5px;
    transition: transform .4s;
}
.logo:hover span{
    color: #00e6ea;
    transition: 0.2s;
}
.logo:hover{
    transform: scale(1.02);
    transition: 0.5s;
}
.span{
    color: #2FC18C;
}
.click-roll:active{
    transition: 0.6s;
}
html {
    scroll-behavior: smooth;
  }
/* Customizando a Main */
.home-conteiner{
    max-width: 1920px;
    height: 90vh;
    background: url(img/backgroundCrianca3.png),#29313D ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 150px;
}
.nome{
    font-size: 90px;
    letter-spacing: 3.75px;
    font-family: 'Josefin Sans';
    color:#FFE8D1;
}
.profissao{
    font-size: 30px;
    letter-spacing: 1.5spx;
    font-family: 'Josefin Sans';
    color:#e2cfbc;
    text-shadow: #1e1e2a ;
    margin-top: 0.75rem;
    margin-bottom: 3rem;
    margin-left: 7.5rem;
}
.social-media a{
    color: #FFE8D1;
    display: inline-block;
    margin-top: 4.5rem;
    padding:1.2rem 3.45rem;
    border: 3px solid #1e1e2a;
    margin: 1.5rem;
    border-radius: 15px;
    font-family: 'Josefin Sans';
    margin-left: 4.35rem;;
}
.social-media a:hover{
    color:#00e6ea;
    background-color: #262634;
    transition: 0.5s;
    border: 3px solid #FFE8D1;
}
.transicaoCorNome:hover span{
    color: #00e6ea;
    transition: 0.6s;
}
.crescerNome:hover{
    transform: scale(1.02);
    transition: 0.6s;
}
.crescerBotao:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
/* Customizando o Sobre */
.about-conteiner{
    max-width: 1920px;
    height: 95vh;
    background:#2e3745 ;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#imgAbout{
    max-width: 30%;
    min-width: 10%;
    margin: 6rem;
}
#about-text{
    width: 150px
}
.texto h2{
    font-size: 99px;
    letter-spacing: 3.75px;
    font-family: 'Josefin Sans';
    color:#FFE8D1;
    margin-left: -1.8rem;

}
.texto h5{
    font-size: 31.5px;
    letter-spacing: 1.5px;
    font-family: 'Josefin Sans';
    color:#e2cfbc;
    text-shadow: #1e1e2a ;
    margin-top: 1.2rem;
    margin-bottom: 1.8rem;
    margin-left: 0rem;
}
.texto p{
    display: inline-block;
    text-align:left;
    max-width: 750px;
    font-family: 'Josefin Sans';
    color:#e3ccb4;
    font-weight: bold;
    margin-left: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 28.5px;
    font-size: 20px;
}